@model REAgency.Models.EmployeesPageViewModel
@using REAgencyEnum
@{
    ViewData["Title"] = "Employees";
}
<div class="main-div" style="margin-top: 40px;">
    <div class="objects-container">

        @if (Model.Employees.Any())
        {
            @foreach (var item in Model.Employees)
            {
                <div class="item">
                    <div>
                        <img src="data:image/*;base64,@Convert.ToBase64String(item.Avatar)" class="object-img" alt="Object Image" />


                        <div class="price-style">
                         
                            <p> @Html.DisplayFor(modelItem => item.Name)</p>
                           
                        </div>
                    </div>


                    <div class="info" style=" display: none;">
                       
                        <p>Посада: @Html.DisplayFor(modelItem => item.Post)</p>
                        <p>Телефон: @Html.DisplayFor(modelItem => item.Phone1)</p>
                        <p>Додадковий телефон: @Html.DisplayFor(modelItem => item.Phone2)</p>
                        <p>Email: @Html.DisplayFor(modelItem => item.Email)</p>
                        <a class="update-button" asp-action="Update" asp-route-id="@item.Id" style="margin: 5px">Редагувати</a>
                        
                    </div>
                </div>

                @* @if (Context.Session.GetString("User") == "employee")
        { *@


                //}

            }


        }
        else
        {
            <h2>На жаль за Вашим запитом нічого не знайдено</h2>
        }
    </div>
</div>
<page-link page-model="Model.PageViewModel" page-action="Index"></page-link>

<script>
    const items = document.querySelectorAll('.item');

    items.forEach(item => {
        item.addEventListener('mouseenter', function () {
            const infoElement = item.querySelector('.info');


            infoElement.style.display = 'flex';
            setTimeout(() => {
                infoElement.classList.add('show');
            }, 30);
        });

        item.addEventListener('mouseleave', function () {
            const infoElement = item.querySelector('.info');


            if (infoElement.classList.contains('show')) {
                infoElement.classList.remove('show');
                setTimeout(() => {
                    infoElement.style.display = 'none';
                }, 300);
            }
        });
    });
</script>