@model IEnumerable<REAgency.Models.ObjectsViewModel>

<div class="objects-container">
    @foreach (var item in Model)
    {
        
        <div class="item">
            <div>

                <p class="item-type">@Html.DisplayFor(modelItem => item.type)</p>

                <img src="@Html.DisplayFor(modelItem => item.pathPhoto)" class="object-img" alt="Object Image" />
               

                <div class="price-style">

                    <p> @Html.DisplayFor(modelItem => item.operationName)</p>
                    <p> @Html.DisplayFor(modelItem => item.Price)</p>
                </div>
            </div>
           

         @*    <div class="info">
                <p>Этаж: @Html.DisplayFor(modelItem => item.Floor)</p>
                <p>Количество комнат: @Html.DisplayFor(modelItem => item.Rooms)</p>
                <p>Площадь кухни: @Html.DisplayFor(modelItem => item.kitchenArea) м²</p>
                <p>Жилая площадь: @Html.DisplayFor(modelItem => item.livingArea) м²</p>
            </div> *@
        </div>
       
    }
</div>
